.encabezado{
  background-color: yellow;
}

.logo{
  width: 135px;
  margin-top: 20PX;
  margin-left: 100px;
  margin-bottom: 20px;
}

.redes-sociales{
  width: 33px;
  margin-top: 122px;
  margin-bottom: 20px;
}
